*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
background-color: rgb(77, 77, 77);
}    

header{
    padding: 20px;
    background-color: rgb(29, 29, 29);
}
#header-title{
    font-size: medium;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
}
img{
    width: 600px;
    height: auto;
}
card{
display: flex;
flex-direction: row;
border: solid black 2px;
padding: 10px;
margin-left: 20px;
margin-right: 20px;
background-color: rgb(77, 77, 77);
margin-top: 20px;
flex-basis: 33%;
}
#card{
    border: 0;
}
h4{
    color: white;
}
p{
    color: white;
}
#header-btn{
    background-color: white;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.card-left{
    padding: 15px;
}
.card-right{
    padding: 15px;
}
header form{
    background-color: rgb(29, 29, 29);
}
.list-group-item{
    padding: 0;
}