*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(77, 77, 77)
}
#header{
    background-color: rgb(29, 29, 29);
}
#header div{
    background-color: rgb(29, 29, 29);
}
#header-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 223, 223);
    background-color: rgb(29, 29, 29);
}
#form{
    margin-top: 50px;
    background-color: rgb(77, 77, 77);
}
main{
    background-color: rgb(77, 77, 77);
}
#card{
    background-color: rgb(77, 77, 77);
}
#card-footer{
    background-color: white;
}
#project-form .border-0{
    background-color: rgb(77, 77, 77);
}
button{
    background-color: rgb(216, 216, 216);
}
option{
    background-color: white;
}